* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

:root {
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

li {
    list-style-type: none;
    padding: 0 10px;
}

/* Header */

header {
    background-color: #ffffff;
}

.header-container {
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list {
    display: flex;
    color: #303030;
    font-size: 0.8rem;
}

/* Hover nav */

.navbar-list li:hover {
    color: #0282F9;
    cursor: pointer;
}

/* Main */
main {
    background-color: #1C1C1C;
}

.main-container {
    /* debug */
    height: 200px;
}

/* My Shop */

.container-shop {
    background-color: #0282F9;
    /* debug */
    height: 200px;
}

.shop-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
}

.container-shop img {
    height: 50px;
    vertical-align: middle;
}

.container-shop ul li:last-child {

    width: 50px;
}

/* Footer */

.footer-container {
    background-image: url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-container {
    display: flex;
}

.contact-container a {
    color: rgb(155, 155, 155);
    font-size: 0.5rem;
}

/* Social */

.social-container {
    background-color: #303030;
    /* debug */
    /* height: 200px; */
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    color: #0282F9;
}

.img-social img {
    margin: 0 10px;
}