/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */
:root {
    background-color: black;
    color: #ffffff;
    font-size: 20px;
    font-family: "Open Sans";
    font-weight: 600;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 70%;
    margin: 0 auto;
}

li {
    list-style-type: none;
    padding: 0 10px;
}

/* Header */
header {
    background-color: #ffffff;
}

.header-container {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Eventuale bordo nero sopra */
    /* margin-top: 20px; */
}

.logo-header img {
    height: 80px;
}

.navbar-list {
    display: flex;
    color: #303030;
    font-size: 0.8rem;
}


/* Hover nav */
.navbar-list li:hover {
    color: #0282F9;
    cursor: pointer;
}

/* Main */
main {
    background-color: #1C1C1C;
    font-size: 1.2rem;
    /* height: 40vh; */
}

.main-container {
    display: flex;
    align-items: center;
    /* debug */
    height: 100px;
}

/* My Shop */
.container-shop {
    background-color: #0282F9;
}

.shop-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 50px 0;
}

.container-shop img {
    height: 50px;
    vertical-align: middle;
    padding-right: 10px;
}

.container-shop ul li:last-child img {
    width: 60px;
}

/* Hover Shop */
.shop-list li:hover {
    transform: scale(1.1);
}

/* Footer */
.footer-container {
    background-image: url("../img/dc-logo-bg.png"), url("../img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: 80% center, center;
    background-size: 600px, cover;
}

.contact-container {
    display: flex;
    padding: 40px 0;
}

.contact-container a {
    color: rgb(155, 155, 155);
    font-size: 0.6rem;
}

.contact-container li {
    padding-right: 50px;
    padding-left: 0;
    line-height: 1.1;
}

.contact-container ul li:first-child {
    margin-top: 15px;
}

.contact-container ul li:last-child {
    margin-bottom: 20px;
}

/* Hover contact */
.contact-container a:hover {
    cursor: pointer;
    color: white;
    text-decoration: underline;
}

/* Social */
.social-container {
    background-color: #303030;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.follow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    color: #0282F9;
    font-weight: 700;
}

.img-social img {
    margin: 0 10px;
}

.sign-up {
    border: 2px solid #0282F9;
    padding: 10px;
    font-size: 0.9rem;
}

/* Hover Social */
.sign-up:hover {
    background-color: #ffffff;
    color: #0282F9;
}

.img-social img:hover {
    background-color: #ffffff;
    border-radius: 50%;
}